*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #5D1277;
}
.geral{
    margin-left: 200px;
}
.titulo{
text-align: center;
}
.btn{
    padding: 10px 20px;
    margin: 15px auto;
    text-decoration: none;
    width: 75%;
    text-align: center;
    border-radius: 7px;
    display: block;
}
.btn-roxo{
    background-color:#5D1277;
    color: white;
}
.btn-transparente{
    background-color:transparent;
    color: #5D1277;
    border:1px solid #5D1277;
 }
.lista-traco{
    list-style-type:
}
.lista-numero{
    list-style-type: 
}
.coluna1{

    display: inline-block;
    padding: 15px;
}
.coluna2{
    vertical-align: 200px;
    margin: 50px;
    display: inline-block;    
}
.coluna-geral{
    margin-left: auto 0;
    text-align: center;
    margin: 50px;
}
li{
    padding: 2;
    text-align: left;
}
